.scheme-box {
    border: 2px solid black;
    height: 80px;
    margin: 10px 20px;
    padding: 10px;
    cursor: pointer;
}
.scheme-title {
    font-weight: 700;
    font-size: large;
}
.scheme-desc {
    margin-top: 10px;
}
.scheme-box a {
    margin: 10px 0;
    color: blue;
}